*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", "Times New Roman";
  display: grid;
  background: #8fb8ed;
  font-size: 16px;
  margin: 0rem;
}
header {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr 1fr 1fr 1fr;
  padding-top: 2rem;
  padding-bottom: 3rem;
  padding-left: 4rem;
  padding-right: 4rem;
  justify-items: center;
  background-color: salmon;
}
.front {
  margin: 0rem;
  height: 20vh;
  display: block;
}
.container1 {
  display: grid;
  grid-template-columns: 2fr 50%;
  grid-template-rows: 20rem;
}
.container2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20rem;
}
.container3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20rem;
}
.footer {
  display: grid;
  background-color: salmon;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
h1 {
  margin: 0rem;
  padding-bottom: 3rem;
  padding-left: 2rem;
  padding-top: 2.5rem;
}
h2 {
  margin: 0rem;
  padding-bottom: 2.5rem;
  padding-left: 2rem;
}
p {
  margin: 0rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
}

.picture {
  background-color: rgba(250, 128, 114, 0.171);
}
.text {
  margin: 0rem;
}
.text2 {
  margin: 0rem;
}
.text3 {
  margin: 0rem;
}
