*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  display: grid;
  background: #8fb8ed;
  font-size: 16px;
  margin: 0rem;
}
header {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr 1fr 1fr 1fr;
  padding-top: 2rem;
  padding-bottom: 3rem;
  padding-left: 4rem;
  padding-right: 4rem;
  justify-items: center;
  background-color: salmon;
}
.container1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20rem;
}
.container2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20rem;
}
.container3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20rem;
}
h1 {
  margin: 2rem;
}
h2 {
  margin: 1rem;
}
p {
  margin: 0.5rem;
}

.picture {
  background-color: rgb(143, 82, 82);
}
